/* App.css */
.layout {
  min-height: 100vh;
}

.header {
  background: #10af14;
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 0 50px;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  margin: 16px 0;
  min-height: 280px;
}

.control-panel {
  text-align: center;
}

.control-panel .ant-btn {
  margin: 0 10px;
}

.board {
  text-align: center;
}

.board .ant-btn {
  margin: 5px;
  width: 100%;
}
